@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-body), sans-serif;
  background: #f4efe8;
  color: #102033;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
